USE [EcoCampusSmart]
GO
/****** Object:  Table [dbo].[canje]    Script Date: 28/06/2026 22:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime2](6) NULL,
	[estudiante_id] [int] NULL,
	[recompensa_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiante]    Script Date: 28/06/2026 22:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiante](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[carrera] [varchar](100) NOT NULL,
	[codigo] [varchar](15) NOT NULL,
	[correo] [varchar](120) NOT NULL,
	[estado] [bit] NOT NULL,
	[fecha_registro] [datetime2](6) NULL,
	[nombres] [varchar](100) NOT NULL,
	[puntos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recompensa]    Script Date: 28/06/2026 22:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recompensa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [bit] NULL,
	[nombre] [varchar](255) NOT NULL,
	[puntos_necesarios] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registro_reciclaje]    Script Date: 28/06/2026 22:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro_reciclaje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cantidad_kg] [float] NOT NULL,
	[fecha_registro] [datetime2](6) NULL,
	[puntos_ganados] [int] NOT NULL,
	[estudiante_id] [int] NULL,
	[residuo_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[residuo]    Script Date: 28/06/2026 22:52:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[residuo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[nombre] [varchar](50) NOT NULL,
	[puntos_por_kg] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[canje] ON 

INSERT [dbo].[canje] ([id], [fecha], [estudiante_id], [recompensa_id]) VALUES (1, CAST(N'2026-06-28T15:31:44.0762340' AS DateTime2), 3, 2)
INSERT [dbo].[canje] ([id], [fecha], [estudiante_id], [recompensa_id]) VALUES (2, CAST(N'2026-06-28T15:37:13.6356780' AS DateTime2), 3, 3)
INSERT [dbo].[canje] ([id], [fecha], [estudiante_id], [recompensa_id]) VALUES (3, CAST(N'2026-06-28T16:09:12.3580930' AS DateTime2), 3, 3)
SET IDENTITY_INSERT [dbo].[canje] OFF
GO
SET IDENTITY_INSERT [dbo].[estudiante] ON 

INSERT [dbo].[estudiante] ([id], [apellidos], [carrera], [codigo], [correo], [estado], [fecha_registro], [nombres], [puntos]) VALUES (3, N'Valencia', N'Ingenieria de Sistemas', N'20260001', N'luis@ecocampus.com', 1, CAST(N'2026-06-27T17:00:00.0000000' AS DateTime2), N'Luis', 76)
INSERT [dbo].[estudiante] ([id], [apellidos], [carrera], [codigo], [correo], [estado], [fecha_registro], [nombres], [puntos]) VALUES (4, N'Quispe', N'Ingeniería Ambiental', N'20260002', N'maria@ecocampus.com', 1, CAST(N'2026-06-28T10:00:00.0000000' AS DateTime2), N'María', 30)
INSERT [dbo].[estudiante] ([id], [apellidos], [carrera], [codigo], [correo], [estado], [fecha_registro], [nombres], [puntos]) VALUES (5, N'Flores', N'Arquitectura', N'20260003', N'carlos@ecocampus.com', 1, CAST(N'2026-06-28T10:30:00.0000000' AS DateTime2), N'Carlos', 80)
SET IDENTITY_INSERT [dbo].[estudiante] OFF
GO
SET IDENTITY_INSERT [dbo].[recompensa] ON 

INSERT [dbo].[recompensa] ([id], [descripcion], [estado], [nombre], [puntos_necesarios]) VALUES (2, N'Descuento en cafeteria', 1, N'Cupon cafeteria', 100)
INSERT [dbo].[recompensa] ([id], [descripcion], [estado], [nombre], [puntos_necesarios]) VALUES (3, N'Sticker EcoCampus', 1, N'Sticker', 20)
INSERT [dbo].[recompensa] ([id], [descripcion], [estado], [nombre], [puntos_necesarios]) VALUES (4, N'Botella ecológica EcoCampus', 1, N'Botella reutilizable', 150)
SET IDENTITY_INSERT [dbo].[recompensa] OFF
GO
SET IDENTITY_INSERT [dbo].[registro_reciclaje] ON 

INSERT [dbo].[registro_reciclaje] ([id], [cantidad_kg], [fecha_registro], [puntos_ganados], [estudiante_id], [residuo_id]) VALUES (1, 3, CAST(N'2026-06-27T18:00:00.0000000' AS DateTime2), 24, 3, 1)
INSERT [dbo].[registro_reciclaje] ([id], [cantidad_kg], [fecha_registro], [puntos_ganados], [estudiante_id], [residuo_id]) VALUES (2, 2, CAST(N'2026-06-28T19:00:00.0000000' AS DateTime2), 16, 3, 1)
INSERT [dbo].[registro_reciclaje] ([id], [cantidad_kg], [fecha_registro], [puntos_ganados], [estudiante_id], [residuo_id]) VALUES (3, 2, CAST(N'2026-06-28T20:00:00.0000000' AS DateTime2), 16, 3, 1)
SET IDENTITY_INSERT [dbo].[registro_reciclaje] OFF
GO
SET IDENTITY_INSERT [dbo].[residuo] ON 

INSERT [dbo].[residuo] ([id], [descripcion], [nombre], [puntos_por_kg]) VALUES (1, N'Botellas y envases plasticos reciclables', N'Plastico', 8)
INSERT [dbo].[residuo] ([id], [descripcion], [nombre], [puntos_por_kg]) VALUES (2, N'Hojas, cuadernos y cartón limpio', N'Papel', 5)
INSERT [dbo].[residuo] ([id], [descripcion], [nombre], [puntos_por_kg]) VALUES (3, N'Botellas y frascos de vidrio', N'Vidrio', 10)
SET IDENTITY_INSERT [dbo].[residuo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKavxayayk9kknjc7bycli4gw58]    Script Date: 28/06/2026 22:52:32 ******/
ALTER TABLE [dbo].[estudiante] ADD  CONSTRAINT [UKavxayayk9kknjc7bycli4gw58] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKf6a7ekbom6tl1l43x4ko45x0o]    Script Date: 28/06/2026 22:52:32 ******/
ALTER TABLE [dbo].[estudiante] ADD  CONSTRAINT [UKf6a7ekbom6tl1l43x4ko45x0o] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKjgdbf7xcct32svem9sta9ewa4]    Script Date: 28/06/2026 22:52:32 ******/
ALTER TABLE [dbo].[residuo] ADD  CONSTRAINT [UKjgdbf7xcct32svem9sta9ewa4] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[canje]  WITH CHECK ADD  CONSTRAINT [FK6ipibgfhyamddh6cik7w8yg9c] FOREIGN KEY([recompensa_id])
REFERENCES [dbo].[recompensa] ([id])
GO
ALTER TABLE [dbo].[canje] CHECK CONSTRAINT [FK6ipibgfhyamddh6cik7w8yg9c]
GO
ALTER TABLE [dbo].[canje]  WITH CHECK ADD  CONSTRAINT [FKj40ebke8edkvrekg9a67dbfxs] FOREIGN KEY([estudiante_id])
REFERENCES [dbo].[estudiante] ([id])
GO
ALTER TABLE [dbo].[canje] CHECK CONSTRAINT [FKj40ebke8edkvrekg9a67dbfxs]
GO
ALTER TABLE [dbo].[registro_reciclaje]  WITH CHECK ADD  CONSTRAINT [FK73fjrgvlagxttvvkqhy6qayt9] FOREIGN KEY([residuo_id])
REFERENCES [dbo].[residuo] ([id])
GO
ALTER TABLE [dbo].[registro_reciclaje] CHECK CONSTRAINT [FK73fjrgvlagxttvvkqhy6qayt9]
GO
ALTER TABLE [dbo].[registro_reciclaje]  WITH CHECK ADD  CONSTRAINT [FKjftostp33vsx0elrekg20v7jd] FOREIGN KEY([estudiante_id])
REFERENCES [dbo].[estudiante] ([id])
GO
ALTER TABLE [dbo].[registro_reciclaje] CHECK CONSTRAINT [FKjftostp33vsx0elrekg20v7jd]
GO
